<div>{{ title }}</div>

<div>{{ x }}</div>

@if (x ===10) {
    <div>X è 10</div>
} 
@else if (x === 20) {
    <div>X è 20</div>
} 
@else {
    <div>X non è né 10 né 20</div>
}

@switch (y) {
    @case (10) {
        <div>Y è 10</div>
    }
    @case (15) {
        <div>Y è 15</div>
    }
    @case (20) {
        <div>Y è 20</div>
    }
    @default {
        <div>Y non è né 10 né 15</div>
    }
}

<div>----------------------------------------------------------------</div>
<h2>Iterzione con for: Array Students</h2>
<div class="card-students">
    @for (s of students; track s.id) {
        <div class="student">
            <div>
                Studente {{ s.id }}: {{ s.nome }} - voto: {{ s.voto }}
            </div>
            <div>
                Totale studenti: {{$index + 1}} / {{$count}} 
            </div>
        </div>
    }
</div>

<div>----------------------------------------------------------------</div>
<section>
    <h2>SIGNALS:</h2>
    <div>
        Counter: {{ counter() }}
        <button (click)="increaseCounter()">Incremennta</button>
        <button (click)="decreaseCounter()" style="margin: 0px 5px;">Decrementa</button>
        <button (click)="resetCounter()">Reset</button>
        <button (click)="setCounter(10)" style="margin: 0 5px;">Set Counter</button>
    </div>
    <div>
        @if (counter() % 2 === 0) {
            <div>Il Counter è Pari</div>
        }
        @else if (counter() === 0) {
            <div>Il Counter è zero</div>
        }
        @else {
            <div>Il Counter è Dispari</div>
        }
    </div>

    <div>----------------------------------------------------------------</div>

    <h2>Array Professors</h2>
    <div class="card-students">
        @for (p of professors(); track p.id) {
            <div class="student">
                <div>
                    Professore {{ p.id }}: {{ p.nome }} - materia: {{ p.materia }}
                </div>
                <div>
                    Totale professori: {{$index + 1}} / {{$count}} 
                </div>
            </div>
        }

        
    </div>
</section>