<div>{{ title }}</div>

<div>{{ x }}</div>

@if (x ===10) {
    <div>X è 10</div>
} 
@else if (x === 20) {
    <div>X è 20</div>
} 
@else {
    <div>X non è né 10 né 20</div>
}

@switch (y) {
    @case (10) {
        <div>Y è 10</div>
    }
    @case (15) {
        <div>Y è 15</div>
    }
    @case (20) {
        <div>Y è 20</div>
    }
    @default {
        <div>Y non è né 10 né 15</div>
    }
}

<hr>

<h2>Iterzione con for: Array Students</h2>
<div class="card-students">
    @for (s of students; track s.id) {
        <div class="student">
            <div>
                Studente {{ s.id }}: {{ s.nome }} - voto: {{ s.voto }}
            </div>
            <div>
                Totale studenti: {{$index + 1}} / {{$count}} 
            </div>
        </div>
    }
</div>

<hr>

<section>
    <h2>SIGNALS:</h2>
    <div>
        Counter: {{ counter() }}
        <button (click)="increaseCounter()">Incremennta</button>
        <button (click)="decreaseCounter()" style="margin: 0px 5px;">Decrementa</button>
        <button (click)="resetCounter()">Reset</button>
        <button (click)="setCounter(10)" style="margin: 0 5px;">Set Counter</button>
    </div>
    <div>
        @if (counter() % 2 === 0) {
            <div>Il Counter è Pari</div>
        }
        @else if (counter() === 0) {
            <div>Il Counter è zero</div>
        }
        @else {
            <div>Il Counter è Dispari</div>
        }
    </div>

    <hr>

    <h2>Array Professors</h2>
    <div class="card-students">
        @for (p of professors(); track p.id) {
            <div class="student">
                <div>
                    <b>Professore {{ p.id }}:</b> 
                    <div>
                        {{ p.nome }}
                    </div>
                    <div>
                        materia: {{ p.materia }}
                    </div>
                </div>
                <div>
                    Totale professori: {{$index + 1}} / {{$count}} 
                </div>
            </div>
        }

    </div>
    <div style="display: flex; gap: 10px; justify-content: center;">
        <button (click)="addProf()">Aggiungi Professore</button>
        <button (click)="updateProf()">Modifica Professore</button>
        <button (click)="randomOrder()">Mescola</button>
    </div>

    <hr>

    <section style="margin-top: 25px;">
        <h2>NG MODEL</h2>
        <p>Collega il valore di un campo Input a un valore di stato(quindi a un Signal) attraverso la direttiva ngModel</p>
        <div>
            <div style="display: flex; flex-direction: column; gap: 10px;">
                <div>
                    <p>creiamo un input e all'interno la direttiva [(ngModel)] alla quale assegnamo un valore (Signal)</p>
                </div>
                <div>
                    <input type="text" [(ngModel)]="text">
                    Text: <b>{{text()}}</b>
                </div>
            </div>
        </div>

    </section>

    <div>-------------------------------------------------------------------</div>

    <section style="margin-top: 25px;">
        <p>
            Modalità alternativa che non sfrutta la direttiva ngModel, <br>
            Ma il setting dell'attributo value e l'impostazione di un gestiore di eventi per l'evento input
        </p>
        <div>
            <div style="display: flex; flex-direction: column; gap: 10px;">
                <div>
                    <input type="text" [value]="text2()" (input)="setText2($event)">  <!-- leghiamo il valore dell'input al signal [value]="text2() -->
                    Text: <b>{{text2()}}</b>
                </div>
            </div>
        </div>
    </section>

    <hr>

    <section>
        <h2>Title Reattivo</h2>
        <p [title]="'Spiegazione'">Legare un valore HTMl a un valore che proviene dalla logica del componente(Signal)</p>

        <div [title]="'Counter3: ' + counter3()">  <!--  Title reattivo (stringa + valore del signal) -->
            Counter3: {{ counter3() }}
            <button (click)=incrCounter3()>Increment</button>
        </div>
    </section>

    <section>
        <h2>Computed Signals</h2>
        <p>Segnale Reattivo il cui valore è derivato automaticamente da altri segnali dipendenti</p>

        <div [title]="'Counter: ' + counter4()">  <!--  Title reattivo (stringa + valore del signal) -->
            Counter4: {{ counter4() }}
            <div>DoubleCounter: {{ doubleCounter() }}</div>
            <button (click)=incrCounter4()>Increment</button>
        </div>
    </section>
</section>